body{
    background-color: #99dad7;
    font-family: 'Goudy Bookletter 1911', serif;
}


.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
  height: 700px;
  width: 100%;
}
.game1{
  position: absolute;
  top: 40%;
  left: 70%;
}
.game2{
  position: absolute;
  top: 40%;
  left: 9%;
}
.game3{
  position: absolute;
  top: 40%;
  left: 40%;
}
#Books {background-color:#c76b6b;}
#Movies {background-color:#5ed98f;}
#Series {background-color:#5e8dd9;}
#Mind_Games {background-color:#edb458;}